<div id="big_content">
  <div id="textblock">
     <h2 class="funfont">Color Picker</h2>
     <br />
     <div class="readable">

      <script>
        $(function() {
            $('#picker').farbtastic('#color');
        });
      </script>
  
      <form action="" style="width: 400px;">
        <div class="form-item"><label for="color">Color:</label><input type="text" id="color" name="color" value="#f021f2" /></div><div id="picker"></div>
      </form>
      <br />
      <br />
      <p>Created by <a href="http://www.acko.net/">Steven Wittens</a>. Thanks, dude!</p>
    </div>
  </div>  
</div>