<div id="big_content">
  <div id="textblock">
    <div class="readable text_shadow">
      <div class="center">

        <h2 class="rule_under">Cheri Marie Allen </h2>

        <p class="pad_top naked">cherimallen@gmail.com || <a href="https://twitter.com/cherimarie">@cherimarie</a> || dinosaurparty.info || <a href="https://github.com/cherimarie">github.com/cherimarie</a> </p>
      </div>
      <br />
      <br />
      <h3 class="clear center">Summary</h3>

      <p class="center">Leader with passion for teaching and community building.<br> Broad technical skill set, strong people skills, irrepressibly enthusiastic.</p>

      <br />

      <h3 class="center">Technical Skills</h3>

      <p><b>Languages, Frameworks:<span class="right">Tools, Platforms:</span></b></p>
        <ul class="naked">
          <li>Ruby          <span class="right">Git</span></li>
          <li>Rails         <span class="right">TDD</span></li>
          <li>HTML          <span class="right">Jasmine</span></li>
          <li>CSS           <span class="right">Rspec</span></li>
          <li>Javascript    <span class="right">Postgres</span></li>
          <li>Angular       <span class="right">SQLite</span></li>
          <li>Sinatra       <span class="right">Heroku</span> </li>
        </ul>
      <br />

      <h3 class="center">Experience</h3>
      <p><b>Glowforge</b>, Seattle WA<span class="right">02/2016-08/2016</span> </p>
      <p class="clear indent">Hardware startup</p>
      <p><b>Software Engineer</b></p>
      <ul class="indent star">
      </ul>
      <br />

      <p><b>Northwest Independent Ruby Development</b>, Seattle WA<span class="right">06/2013-02/2016</span> </p>
      <p class="clear indent">Ruby on Rails consultancy</p>
      <p><b>Software Developer</b></p>
      <ul class="indent star">
        <li>Deliver robust, well tested code</li>
        <li>Develop greenfield Rails applications using best practices and modern tools</li>
        <li>Maintain existing applications, working with clients' in-house development teams</li>
        <li>Lead development teams for multiple projects</li>
        <li>Work directly with clients from project definition through delivery</li>
        <li>Collaborated with UI designers to create dynamic customer facting applications </li>
        <li>Build curriculum for internal and external trainings on Angular and Rails</li>
      </ul>
      <br />

      <p><b>University of Washington, PCE, </b> Seattle WA<span class="right">08/2014 - present</span> </p>
      <p class="clear indent">First section of a three-semester HTML &amp; CSS certificate program</p>
      <p><b>Adjunct Instructor</b></p>
      <ul class="indent star">
        <li>Develop curriculum appropriate for adult learners at a variety of experience levels</li>
        <li>Teach HTML5 and CSS3 Fundamentals course</li>
        <li>Provide mentoring and support to students in weekly open office hours</li>
        <li>Participate in community outreach and student recruitment efforts</li>
      </ul>
      <br>

      <p><b>Ada Developers Academy</b>, Seattle WA  <span class="right">10/2013 – 03/2014</span> </p>
      <p class="clear indent">Nonprofit programming school for women</p>
      <p><b>Program Coordinator</b></p>
      <ul class="indent star">
        <li>Coordinated 60+ volunteers</li>
        <li>Provided teaching assistance on Rails, Ruby, Git, Heroku, and related subjects</li>
        <li>Assisted with curriculum planning and development</li>
        <li>Planned and executed educational events for the public</li>
        <li>Maintained and improved program web site (Jekyll platform) and blog</li>
      </ul>
      <br>

      <p><b>University of Washington, PCE, </b> Seattle WA<span class="right">10/2013-01/2014</span> </p>
      <p class="clear indent">First section of a three-semester Ruby on Rails certificate program</p>
      <p><b>Teaching Assistant</b></p>
      <ul class="indent star">
        <li>Assisted students in learning the Ruby language, through homework review and one-on-one coaching, both in the classroom and during outside office hours.</li>
      </ul>
      <br />

      <h3 class="center">Education</h3>

      <p><b>University of Washington</b><span class="right">06/2013</span> </p>
        <p class="clear"><b>Certificate in Ruby on Rails Development</b></p>
        <p>&nbsp;&nbsp;<span class="underline">Project:</span><a href="http://slackermeals.herokuapp.com/" target="_blank">   SlackerMeals</a><span class="right">slackermeals.herokuapp.com</span> </p>
        <ul class="clear indent star">
          <li>Rails app using Postgres database, deployed to Heroku, finds nutritionally complete meals for users based on their input. Created as part of a two person team.</li>
        </ul>
        <p>&nbsp;&nbsp;<span class="underline">Project:</span><a href="http://rubygems.org/gems/lib_stats" target="_blank"> library stats gem</a><span class="right">http://rubygems.org/gems/lib_stats</span></p>
        <ul class="clear indent star">
          <li>Ruby gem to determine library loan statistics. </li>
        </ul>
      <br />

      <p><b>Seattle Central Community College</b><span class="right">courses completed 06/2013</span> </p>
        <p class="clear"><b>Certificate in Programming</b></p>
        <p>&nbsp;&nbsp;<span class="underline">Project:</span>   <a href="http://techinterviewmasteryforwomenseminar.eventbrite.com/" target="_blank">Tech Interview Mastery for Women Seminar</a></p>
        <ul class="clear indent star">
          <li>Led team of four in organizing an one day event about job acquisition skills for students about to enter the tech industry. 20 community participants presented information to and interacted with the 80 student attendees, providing invaluable real world advice. </li>
        </ul>
        <p>&nbsp;&nbsp;<span class="underline">Project:</span><a href="http://dinosaurparty.info/wizardry/namepage.php" target="_blank">   Wizard Name Generator</a></p>
        <ul class="clear indent star">
          <li>PHP based web app that randomly generates wizard names for user. Created as part of a four person team.</li>
        </ul>

      <br />
      <p><b>Florida Atlantic University</b><span class="right">05/2004</span> </p>
      <p class="clear"><b>Bachelor of Fine Arts</b></p>

      <br />



      <h3 class="center">Community Involvement</h3>

      <p><b>Girl Develop It</b> <span class="right">08/2013-present</span> </p>
        <p class="clear indent">Nonprofit organization that offers affordable, accessible technical education for women</p>
      <p><b>Chapter Co-Leader, Instructor, Curriculum Contributor</b></p>
      <ul class="indent star">
        <li>Coordinate educational and social programming for membership of 2,000+</li>
        <li>Recruit and coach instructors</li>
        <li>Teach HTML, CSS, Git, Ruby, and Rails to classes of 10-20 women</li>
        <li>Develop curriculum for a five week Ruby course and five week Rails course</li>
      </ul>
      <br />

      <p><b>Railsbridge</b> <span class="right">11/2012-present</span> </p>
        <p class="clear indent">Nonprofit, noncentralized organization that works to increase diversity in tech through education</p>
      <p><b>Co-Organizer, Teaching Assistant</b></p>
      <ul class="indent star">
        <li>Assist 10 - 35 women with writing their first Rails app and deploying it to Heroku, including introduction to the command line, Ruby language, and Git & Github</li>
        <li>Secure sponsorships and facilities</li>
      </ul>
      <br />

      <p><b>The Michael C. Weidemann LGBT Library</b> at Gay City<span class="right">01/2011-01/2015</span>  </p>
      <p class="clear indent">6,000 volume, community-driven lending library at nonprofit focused on health and well-being of Seattle's LGBT population</p>
      <p><b>Lead Librarian</b></p>
      <ul class="indent star">
        <li>Manage daily operations for library and its staff of 18 volunteers</li>
        <li>Plan and execute community outreach events </li>
      </ul>
      <br />

     </div>
  </div>
</div>