<div id="big_content">
  <div id="textblock">
    <div class="readable">
      <div class="center">
        <br />
        <h2 class="rule_under">Cheri Marie Allen </h2>  
    
        <p class="pad_top">cheri@nird.us || @cherimallen || dinosaurparty.info || github.com/cherimarie </p>
      </div>
      
      <br />
      <br />
      <h3  class="clear">Summary</h3>
      
      <p>Leader with passion for teaching and community building. Broad technical skill set, strong people skills, irrepressibly enthusiastic.</p> 
      
      <br />
      <h3>Technical Skills</h3>       
      <p class="underline">Languages:       <span class="right underline">Skills + Tools:</span></p>
        <ul>
          <li>Ruby / Intermediate <span class="right">Rails</span></li>
          <li>HTML / Intermediate   <span class="right">.NET</span></li>
          <li>CSS / Intermediate    <span class="right">Adobe creative suite</span></li>
          <li>Javascript / Intermediate   <span class="right">TDD</span></li>
          <li>SQL / Beginner  <span class="right">Git</span></li>
          <li>C# / Beginner <span class="right">Github</span> </li>
          <li>Visual Basic / Beginner <span class="right">Rspec</span> </li>
          <li>Java / Beginner   <span class="right">Cucumber</span></li>
          <li>PHP / Beginner  <span class="right"></span></li>
        </ul> 
      
      <br />
      <h3>Job History</h3>
      <br />
        <p><b>University of Washington, PCE, </b> Seattle WA<span class="right">10/2013-present</span> </p>
      <p class="clear">Teaching Assistant for Ruby course</p>
      <br />
        <p><b>Ada Developers Academy,</b> Seattle WA<span class="right">10/2013-present</span> </p>
      <p class="clear">Assistant Program Coordinator</p>
      <ul class="indent">
        <li></li> 
        <li></li>
      </ul>
      <br />
        <p><b>Northwest Independent Ruby Developers,</b> Seattle WA<span class="right">06/2013-present</span> </p>
      <p class="clear">Junior Developer</p>
      <ul class="indent">
        <li>Develop Ruby on Rails applications</li> 
        <li>Build curriculum for external trainings</li>
      </ul>
      <br />
      <p><b>Seattle Central Community College,</b> Seattle WA<span class="right">04/2013-06/2013</span> </p>
      <p class="clear">IT Department Tutor</p>
      <ul class="indent">
        <li>Tutor students in web development and programming subjects (JavaScript, HTML, CSS, PHP, C#, Java, .NET, SQL)</li> 
      </ul>
      <br />
      
      <p><b>Washington Beer Commission</b> and <b>Washington Brewer's Guild,</b>Seattle WA  <span class="right">06/2008-present</span> </p>
      <p class="clear">Merchandise or Admissions Manager (varies by event)  </p>
      <ul class="indent">
        <li>Train and manage 10-30 volunteers per day</li>
        <li>Manage operations for Admissions or Merchandise, as appropriate</li>
        <li>Cheerfully and flexibly do a variety of tasks to ensure attendees have the best possible experience</li>
      </ul>
      <br />  
      
            
      <h3>Education</h3>
      <br />
      <p><b>University of Washington</b><span class="right">06/2013</span> </p>
      <p class="clear">Certificate in Ruby on Rails Development</p>
      <p>&nbsp;&nbsp;<span class="underline">Project:</span><a href="http://slackermeals.herokuapp.com/">   SlackerMeals</a><span class="right">slackermeals.herokuapp.com</span> </p>
      <p class="clear indent">Rails app using Postgres database, deployed to Heroku, finds nutritionally complete meals for users based on their input. Created as part of a two person team.</p>
      <p>&nbsp;&nbsp;<span class="underline">Project:</span><a href="http://rubygems.org/gems/lib_stats">library stats gem</a><span class="right">http://rubygems.org/gems/lib_stats</span></p>
      <p class="clear indent">Ruby gem to determine library loan statistics. </p>       
      <br />
      <p><b>Seattle Central Community College</b><span class="right">courses completed 06/2013</span> </p>
      <p class="clear">Certificate in Programming</p>
      <p>&nbsp;&nbsp;<span class="underline">Project:</span><a href="wizardry/namepage.php">   Wizard Name Generator</a><span class="right">http://dinosaurparty.info/wizardry</span></p>
      <p class="clear indent">PHP based web app that randomly generates wizard names for user. Created as part of a four person team.</p>
      <p>&nbsp;&nbsp;<span class="underline">Project:</span>   <a href="http://techinterviewmasteryforwomenseminar.eventbrite.com/">Tech Interview Mastery for Women Seminar</a> <span class="right">May 17th, 2013</span></p>
      <p class="clear indent">Led team of four in organizing an all day event about job acquisition skills for students about to enter the tech industry. 20 community participants presented information to and interacted with the 80 student attendees, providing invaluable real world advice. </p>
              
      <br />
      <p><b>Florida Atlantic University</b><span class="right">graduated 05/2004</span> </p>
      <p class="clear"> Bachelor of Fine Arts, Sculpture</p>
      
      <br />
      
      
      
      <h3>Volunteerism</h3>
      <br />
      <p><b>Railsbridge</b> <span class="right">11/2012-present</span> </p>
      <p class="clear">Organizer and Teaching Assistant</p>
      <ul class="indent">
        <li>Assist in teaching 10 - 30 women with writing their first Rails app and deploying it to Heroku, including introduction to the command line, Ruby language, and Git & Github</li>
        <li>Secure sponsorships and facilities</li> 
      </ul>
      
      <br />
      <p><b>LGBT Library</b> at Gay City<span class="right">01/2011-present</span>  </p>
      <p class="clear">Lead Librarian    </p>
      <ul class="indent">
        <li>Manage a 5,000 volume lending library and its staff of 17 volunteers</li>
        <li>Plan and execute community outreach events </li>    
      </ul>
      
      <br />
      <p><b>Byte Club</b> , SCCC's IT Student organization<span class="right">06/2012-04/2013</span> </p>
      <p class="clear">President</p>
      <ul class="indent">
        <li>Led 150+ person organization</li>
        <li>Organized educational events: secured speakers and facilities, promoted, and archived presentations</li>
        <li>Empowered members to organize and produce their own events </li>  
      </ul>     
      
      <br />
      
              
     </div>
  </div>  
</div>