<div id="big_content">
    <div id="textblock">
       <h2 class="funfont">About</h2>
       <br />
       <div class="readable">
        <p>I'm a <del>pterodactyl</del> software developer and educator.</p>
        <br />
        <p>When not coding, I enjoy petting cats, camping, and <del>flapping across the sky, shrieking and diving like the prehistoric killing machine I am</del> kayaking.</p>
        <br />
        <p>What kind of dinosaur are you?</p>

       </div>


    </div>
  </div>