<div id="big_content">
    <div id="textblock">
       <h2 class="funfont">About</h2>
       <br />
       <div class="readable">
        <p>I'm a <del>pterodactyl</del> Ruby on Rails developer. At <a href="http://nird.us/" target="_blank">Northwest Independent Ruby Development</a>, I contribute to kick ass Rails apps and help build curricula for corporate trainings. I also work with <a href="http://girldevelopit.com/chapters/seattle" alt="Girl Develop It Seattle" target="_blank">Girl Develop It</a> and <a href="http://railsbridge.org/" alt="Railsbridge" target="_blank">Railsbridge</a> to help grow more awesome developers.</p>
        <br />
        <p>When not coding, I enjoy petting cats, crocheting, and <del>flapping across the sky, shrieking and diving like the prehistoric killing machine I am</del> volunteering at the LGBT library.</p>
        <br />
        <p>What kind of dinosaur are you?</p>
        
       </div>
          
    
    </div>  
  </div>