
<!doctype html>
<html>
<head>
  <title>Cheri is pretty rad. </title>

  <script src="../js/jquery-1.9.1.min.js"></script>
  <script src="../js/farbtastic.js"></script>
  <script src="../js/jquery-ui-1.10.3.custom.min.js"></script>

  <link href="css/jquery-ui-1.10.3.custom.css" rel="stylesheet">
  <link href="css/schmancy.css" rel="stylesheet"/>
  <link href="css/farbtastic.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato|Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>


  <script>
  $(function() {

    $(".draggable").draggable();
  });


  </script>

</head>
<body>
  <div id="sidebar">
    <header>
      <h1 class="funfont">Cheri Allen!</h1>
    </header>

    <nav class="funfont">
      <ul class="navigation">
        <li><a href="/" title="about">About</a></li>
        <li><a href="cv" title="CV">CV</a></li>
        <li><a href="slides" title="slides">Slides</a></li>
        <li><a href="partytime" title="partytime">Party Time</a></li>
      </ul>
    </nav>

    <div class="connect">
      <a href="https://www.linkedin.com/in/cherimarieallen" target="_blank"><img src="../images/linkedin.png" title="linkedin" /></a>
      <a href="https://github.com/cherimarie" target="_blank"><img src="../images/github_logo.png" title= "github" /></a>
      <a href="https://twitter.com/cherimarie" target="_blank"><img src="../images/twitter_icon.png" title="twitter" /></a>
    </div>
  </div>

<%= yield %>

<div class="break">
  <br />
  </div>

</body>
</html>