<div id="big_content">
  <div id="slideshow">
     <h2 class="funfont">Drag dinos into place to make a super cool party!</h2>
    
    <div class="top">
      <img src="images/tiara1.png" class="draggable" />
      <img src="images/tiara2.png" class="draggable" />
      <img src="images/tiara3.png" class="draggable" />
      <img src="images/hat1.png" alt="a dinosaur" class="draggable" />
      <img src="images/cupcakechoco.png" class="draggable" />
      <img src="images/cupcakepink.png" class="draggable" />
      <img src="images/cupcakesprinkle.png" class="draggable" />
      <img src="images/hat2.png" class="draggable" />
      <img src="images/hat3.png" class="draggable" />
      <img src="images/hat4.png" class="draggable" />
    </div>
    
    <img src="images/partyroom1dark.png" id="bg_img" />
    
    <div class="bottom">
      <img src="images/raptor_2.png" alt="imaginary raptor" class="draggable" />
      <img src="images/velicoraptor.png" alt="velicoraptor" class="draggable" />
      <img src="images/triceratops.png" class="draggable" />
      <img src="images/raptor_3.png" alt="raptor" class="draggable" />
      <img src="images/naked_raptor.png" class="draggable" />
      <img src="images/oviraptor.png" alt="oviraptor" class="draggable"/>
      <img src="images/stegosaurus.png" class="draggable" />
    </div>
    
  </div>
</div>