<div id="big_content">
  <div id="textblock">
     <h2 class="funfont">Portfolio</h2>
     <br />
     <div class="readable">
      <p><a href="http://slackermeals.herokuapp.com/">SlackerMeals</a> is a Rails app to help you find a nutritious meal.</p>
      <br />
      <p><a href="http://rubygems.org/gems/lib_stats">This is a gem</a> to help you get loan statistics for your library, if you have a library.</p>
      <br />
      <p>Here's a super exciting <a href="wizardry/namepage.php">Wizard Name Genrator</a>, made with PHP.</p>
      
     </div>
        
  
  </div>  
</div>