<div id="big_content">
    <div id="textblock">
       <h2 class="funfont">Slides</h2>
       <br />
       <div class="readable">
        <ul class="star text_shadow"> 
          <li>
            <h4>Girl Develop It! Intro to Rails, June 2014</h4>
            <p>This is an Intro to Rails course, intended for eventual inclusion in the Girl Develop It Core Curriculum. All material by Cheri Allen.</p>
            <p><a href="http://cherimarie.github.io/gdi-rails/">slides</a></p>
            <p><a href="https://github.com/cherimarie/bestsong">bestsong app, built in class</a></p>
            <p><a href="https://github.com/cherimarie/worstsong">worstsong app, example with fully implemented rating</a></p>
          </li>
          <li>
            <h4>Choose Your Own Adventure, Redmond Library, June 2014</h4>
            <p>This is a four part series to teach young adults how to build interactive fiction, using Twine, HTML, and CSS. The first part is a writing workshop, and is not covered here. All material by Cheri Allen.</p>
            <p><a href="http://cherimarie.github.io/CYA_workshop/">slides</a></p>
          </li>
          <li>
            <h4>Girl Develop It! Intro to Ruby, April 2014</h4>
            <p>This is an Intro to Ruby course, intended for eventual inclusion in the Girl Develop It Core Curriculum. All material by Cheri Allen and Heather Moore. Thanks to Chris Pine and Sandi Metz for inspirational books.</p>
            <p><a href="http://cherimarie.github.io/gdi-ruby/">slides</a></p>
          </li>
          <li>
            <h4>Girl Develop It! Intro to Git and Github, February, April, May 2014</h4>
            <p>This is the official Girl Develop It Core Intro to Git and Github course. Material based on original material by Kim Moir, Daniel Fischer, Aurelia Moser, Carina C. Zona and Izzy Johnston. Additions and changes made by Cheri Allen.</p>
            <p><a href="http://cherimarie.github.io/gdi-core-git-github/#/">slides</a></p>
          </li>
          <li>
            <h4>Git and Github: Unlock This Acheivement! September 2013</h4>
            <p>This hands on workshop will walk you through getting started with Git and Github. You'll learn how they work and how you can best utilize them. The group will be coached from installation through contributing to an open source project. All material by Cheri Allen.</p>
            <p><a href="https://docs.google.com/presentation/d/1W5qWNqghBq7e0uDoOeGHDSb2USW5V3jpuMv9m4AgnwQ/pub?start=false&loop=false&delayms=3000">slides</a></p>
          </li>          
          <li>
            <h4>Girl Develop It! Intermediate HTML/CSS, August 2013 </h4>
            <p>This is the official Girl Develop It Core Intermediate HTML/CSS curriculum. It was developed through the contributions of Garann Means, Alexis Goldstein, Julie Pagano, Lindsey Bieda, and Izzy Johnston.</p>
            <p><a href="http://cherimarie.github.io/gdi-core-intermediate-html-css/">slides</a></p>
          </li>
          
        </ul>
       </div>
          
    
    </div>  
  </div>