



		* {margin: 0; padding: 0;}
		a {text-decoration: none;}
		a:link {color:#099FAE;}
		a:visited {color:#099FAE;}
		a:hover {color:#5CB5E5;}
		a:active {color:#5CB5E5;}
		body {background-color: #E3D996;} 	
		h1 {font-size: 1.75em;}	
		ul.star {list-style-image:url('../images/star.png');}
		ul.naked {list-style-type: none;}
		p.naked a {text-decoration: none; color: black;}
		p.naked a:visited {color: black;}
		p.naked a:hover {color:#5CB5E5;}

		.text_shadow h2, h3, b {text-shadow: 2px 2px rgba(255, 255, 255, 0.4);}
		
		.big {font-size: 1.4em;}
		.center {text-align: center;}  
		.clear {clear: both;}
		.indent {margin-left:50px;}
		.pad_top {padding-top: 3px;}
		.right {float: right;}
		.rule_under {border-bottom: 1px solid #fff; padding-bottom: 3px;}
		#sidebar {position: fixed;
				min-height: 100%;
				height: 100%;
				border-right: solid 1px #5CB5E5;
				width: 15%;
				text-align: center;}
		#sidebar header {height: 12%;
						margin-top: 5%;
						color:#099FAE;}
		#sidebar ul.navigation {margin-top: 33%;
								font-size: 1.4em;}
		.connect {position: absolute;
					bottom: 3%;}
		.connect img {width: 20%;}
		#big_content {float: right;
						width: 85%;
						margin-top: 3%;}
		#answers {padding-top: 15px;}
		.break {clear:both;}
		#bg_img {width: 95%; margin: 3%; opacity: 90%;}
		#full_page {width: 85%; 
					margin: 13% auto 0 auto; 
					border-right: solid 1px #5CB5E5; 
					border-left: solid 1px #5CB5E5;}
		.markdown-body {padding: 5px;}
		#slideshow {margin: auto;
					position: relative;
					width: 95%;}
		#slideshow li {float: right;
						overflow: hidden;
						margin: 0 20px 0 0;}
		#slideshow li img {width: 100%;
							position: absolute;
							top: 40px;
							left: 0;
							z-index: -1;
							box-shadow: 5px 5px 3px #AE9909;
						-webkit-transition: opacity 1s ease-in-out;
					     -moz-transition: opacity 1s ease-in-out;
					       -o-transition: opacity 1s ease-in-out;
					      -ms-transition: opacity 1s ease-in-out;
					          transition: opacity 1s ease-in-out;}
		#slideshow li img:target {z-index: 1;}
 		#slideshow li img:not(:target) {opacity: 0;}
 		#textblock {width: 70%; margin: auto;}
 		#textblock_big {width: 90%; margin: auto;}
 		
		.funfont {font-family: "Annie Use Your Telescope", monospace; fon-size: 1.4em;}
		.readable {font-family: "Lato", sans-serif; font-size: 1.1em;}
		.underline {text-decoration: underline;}
		.top {z-index: 99; position: relative;}
		.bottom {z-index: 75; position: relative;}
		.draggable {position: relative; } 
